body {
  font-family: "Poppins", sans-serif;

  color: #000000;
  /* Regular stil */
}
/* logo and Nav bar */

.container {
  padding: 20px;
  display: flex;
  align-items: center; /* alignment */
}

.logo {
  width: 100px;
}

.fashion-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1%;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  margin-left: auto; /* Navigation bar */
}

.navbar span {
  padding: 10px;
}

.signup {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
/* Navigation bar  end*/

.firsth-wrapper {
  background-color: #f4f6f5;
  width: 100%;
  height: 400px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-right: 5em;
  padding-left: 5em;
  border-radius: 10px;
}

.text-wrapper h1 {
  font-size: 20px;
  font-weight: 100px;
  text-align: left;
  margin: 10;
  margin-left: 10px;
  text-transform: uppercase;
}

.text-wrapper p {
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  margin: 10;
  padding: 5;
  margin-left: 10px;
}
.btn {
  background-color: black;
  display: flex;
  margin-top: 20px;
  color: #ffffff;
  width: 100px;
  height: 35px;
  margin-left: 100px;
}
.pink {
    position: absolute;
    right; 10px;
    width: 400px;
}
/* brand section*/
.brand {
  background-color: #ebd96b;
  width: 1200px;
  height: 120px;
  width: 100%;
}
.brand-container {
display: flex;
justify-content: space-around;  
}
.brand-container img {
    max-width: 100px; /* Resimlerin maksimum genişliği */
    height: auto; /* Orantılı olarak yükseklik ayarlanır */
    margin: 0 10px; /* Sol ve sağında 10 piksel boşluk bırakır */
}
.brand img {
  width: 10%;
  height: auto;
  align-items: center;
  padding: 10px;
  margin: 5px;
}
/* brand section end*/

/* New arrivals*/
.new-arrivals {
    padding: 20px;
    background-color: red;
    height: 400px;
}

.new-arrivals h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    
}

.image-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Resimler arasındaki boşluk */
}

.image-grid img {
    width: calc(30% - 20px); /* Resimlerin genişliği (%30), aralarındaki boşluk (-20px) */
    height: auto;
    border-radius:3%;
}
/* Item description*/

.item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Kenarlığın içeri doğru genişlemesini sağlar */
}

.item-description .explore-now::after {
    content: '\2192'; /* Ok işareti unicode karakteri */
}
/* pay section */
.container1 {
  max-width: 1200px;
  margin: 50px auto;
  background-color: yellow; /* Sarı arka plan */
  padding: 20px;

}

.content {
  display: flex;
  align-items: center; /* Öğeleri dikey olarak hizalama */
}

.image {
  width: 50%; /* Resmin genişliği */
  margin-right: 20px; /* Sağ tarafta boşluk bırakmak için */
}

.text2 {
  width: 50%; /* Yazı kutusunun genişliği */
}

.text2 h2 {
  color: black; /* Başlık metni rengi */
}

.text2 p {
  color: black; /* Paragraf metni rengi */
}