body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Regular stil */
}
/* logo and Nav bar */

.container {
  padding: 20px;
  display: flex;
  align-items: center; /* alignment */
}

.logo {
  width: 100px;
}

.fashion-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1%;
}

.navbar {
  display: flex;
  margin-left: auto; /* Navigation bar */
}

.navbar span {
  padding: 10px;
}

.signup {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
