body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  /* Regular stil */
}
/* logo and Nav bar */

.container-both {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

.logo {transform: scale(0.7); 
  margin-bottom: 10px;
}

.fashion-text {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: bold;
}
.navigation {
  display: flex;
  margin-left: auto;
}
.navbar {
  text-transform: uppercase;
  margin-left:20px;
  
}

.navbar span {
  padding: 10px;
}

.signup {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
/* Navigation bar  end*/
/* Let's explore */
.container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-banner {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f6f5;
  padding-right: 5em;
  padding-left: 5em;
  border-radius: 10px;
  width: 120%;
  height: 600px;
  max-width: 1200px;
}

.text-banner {
  flex: 1;
  padding-right: 20px;
}

.text-banner h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: left;
  margin: 5px 10px 10px 5px;
  text-transform: uppercase;
}
.let {
  background-image: url("images/Rectangle3.png");
  background-size: contain; /* Cover the image according to the size of the word */
  background-repeat: no-repeat;
}
.unique {
  background-image: url("images/Rectangle6.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-banner p {
  font-size: 16px;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.banner-image {
  flex: 1;
  text-align: right;
  width: 80%; 
}

.banner-image img {
  width: 600px;
  height: auto;
  margin-top: 245px; 
  
}
.star-div {
  position: relative;
} 

.top-star1 {
  position: absolute;
  top: 1%;
  margin-left: 30%;
  align-items:right;
}

.top-star2 {
  position: absolute;
  top: 2%;
  left: 300px;
}

.bottom-star1 {
  position: absolute;
  bottom: 2px;
  right: 30px;
}

.bottom-star2 {
  position: absolute;
  bottom: 20px;
  left: 0;
}

/*Let's Explore Section End*/
/* brand section*/
.brand {
  background-color: #ebd96b;
  width: 1200px;
  height: 120px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

}
.brand-container {
  display: flex;
  justify-content: space-around;
}
.brand-container img {
  max-width: 100px; /*  maximum width of images */
  height: auto; /* Height is adjusted proportionally */
  margin: 0 10px; /* margin top and bottom 0px, margin left and right are 10px */
}
.brand img {
  width: 10%;
  height: auto;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

/* brand section end*/

/* New arrivals*/
.new-arrivals {
  padding: 20px;
  height: 400px;
  
}

.new-arrivals h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.image-containers {
  display: flex;
  justify-content: space-between;
}

.image-item {
  width: calc(30.33% - 10px);
  height: 200px;
  margin-right: 10px;
  text-align: left;
  
}

.image-item:last-child {
  margin-right: 10px;
}

.image-item img {
  max-width: 100%;
  
}

.image-caption {
  margin-top: 10px;

}

.image-caption h3 {
  margin: 0;
  font-size: 18px;
}
.image-item p { color: #666;; /* Explore Now color */
  }

 .p::after {
  content: "\2192"; }/* arrow sign */



.image-caption p::after {
  content: "\2192"; }/* arrow sign */
  

/* payday section */
.container1 {
  max-width: 1400px;
  margin: 50px auto;
  background-color:
  height: 200px ;
  background-image: linear-gradient(to right, #E0C340,#E6C945,#F9DD55, #F9DF56);
  padding:20px;
}
.content {
  display: flex;
  align-items: center;
}

.image {
  width: 50%; /* width of image */
  height: 50%;
  margin: 10px; /* Sağ tarafta boşluk bırakmak için */
}

.text2 {
  width: 60%; 
}

.text2 h1 {
  color: black;/*h1 color*/
  font-weight: bold;
  font-size: xx-large;
  text-transform: uppercase;
}
.let {
  background-image: url("images/Rectangle3.png");
  background-size: contain; /* Cover the image according to the size of the word */ 
  background-repeat: no-repeat;
}


.text2 p {
  color: black; /* Paragraf metni rengi */
}
 

/* Young's favourite section */
.young-favourite {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.image-grid {
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 45%; /* Resim konteynerinin genişliği */
  margin-top: 20px; /* Üstten boşluk */
  margin-bottom: 5px; /* Altan boşluk */
}

.image-container img {
  width: 100%; /* Resimlerin genişliği */
  height: auto; /* Resimlerin orijinal boyut oranını koru */
}

.caption {
  text-align: left;
}
.young-favourite h2 {
  font-weight: bold;
  font: size 100px;
}
.caption h3 {
  margin-bottom: 0%; /* Trending ve All Under başlıkları arasında boşluk */
}

.caption p {
  color: #666; /* Explore Now yazısının rengi */
}
/*  App section*/
.container-app {
  position: relative; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: none;
}

.icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  position: relative;
}

.square {
  width: 40%;
  padding: 20px;
}

.square h2 {
  text-align: center;
}

.left-images {
  display: flex;
  justify-content: space-between;
}

.left-images img {
  width: 45%; /* Resimlerin genişliğini ayarlayın */
}

.square img {
  max-width: 100%;
  display: block;
  margin: 0 auto; /* Resmi ortalamak için */
}

.square::after {
  content: '';
  display: block;
  clear: both;
}

.square {
  float: left;
}

.mobile-image {
  width: 30%;
  text-align: right;
  position: relative;
  margin-left: 20%;
  
}

.svg-circle {
  position: absolute; 
  right: -20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

/* join section*/

.container-join {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5C643;
    margin-top: 5px;
  }

  
   .box-join h1{
    color:white;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .box-join p{
    color: white;
    text-align: center;
  }
  .box-join form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .box-join input[type="email"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    
  }
  
  .box-join input[type="submit"] {
    padding: 10px 20px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
  }
  /* footer section*/

  .container-footer {
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left-footer {
    text-align: left;
  }

  .right-footer {
    text-align: left;
    display: flex; /* Yeni eklenen stil: sağ kutuyu yatay hizalamak için */
  }

  .menu {
    margin-right: 20px; /* Yeni eklenen stil: menüler arasında boşluk */
  }

  .menu h2 {
    margin-bottom: 10px;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu ul li {
    margin-bottom: 10px;
    text-align: left; /* Yeni eklenen stil: tüm liste öğelerini sola hizala */
  }

  .icons {
    margin-top: 10px;
    display: flex;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  